In [1]:
cd ML/

/home/royal/ML

In [2]:
cd train/

/home/royal/ML/train

In [14]:
cd ..

/home/royal/ML

In [25]:
import pandas as pd

In [26]:
df=pd.read_csv('df.csv')

In [27]:
df

    file  label
0  1.jpg      1
1  2.jpg      2
2  3.jpg      2
3  4.jpg      3
4  5.jpg      3
5  6.jpg      3
6  7.jpg      1
7  8.jpg      2
8  9.jpg      1

In [32]:
folders_to_create=list(set((df['label'].values)))

In [33]:
folders_to_create

[1, 2, 3]

In [34]:
file_names=list(df['file'].values)
label=list(df['label'].values)

In [50]:
import os
import shutil

In [41]:
source=os.getcwd()

In [46]:
source

'/home/royal/ML'

In [49]:
for x in folders_to_create:
    if not os.path.exists(source+"/"+str(x)):
        os.mkdir(source+"/"+str(x))

In [76]:
for x,y in enumerate(file_names):
    shutil.copy(source+"/"+"train"+"/"+str(y),str(label[x]))

In [77]:
ls

1/  2/  3/  df.csv  train/

In [78]:
cd 1

/home/royal/ML/1

In [79]:
ls

1.jpg  7.jpg  9.jpg

In [80]:
cd ..

/home/royal/ML

In [81]:
cd 2

/home/royal/ML/2

In [82]:
ls

2.jpg  3.jpg  8.jpg